USE [master]
GO
/****** Object:  Database [user2]    Script Date: 03.10.2023 14:45:02 ******/
CREATE DATABASE [user2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'user2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\user2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'user2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\user2_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [user2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [user2]
GO
/****** Object:  Table [dbo].[Activity]    Script Date: 03.10.2023 14:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[activityEventId] [int] NOT NULL,
	[activityName] [nvarchar](256) NOT NULL,
	[activityDays] [int] NOT NULL,
	[activityTimeStart] [time](7) NOT NULL,
	[activityModeratorId] [int] NOT NULL,
	[activityJury1Id] [int] NULL,
	[activityJury2Id] [int] NULL,
	[activityJury3Id] [int] NULL,
	[activityJury4Id] [int] NULL,
 CONSTRAINT [PK_Activity] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Administrator]    Script Date: 03.10.2023 14:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrator](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[administratorEmail] [nvarchar](128) NOT NULL,
	[administratorBirthday] [datetime] NULL,
	[administratorCountryId] [int] NULL,
	[administratorPhone] [varchar](20) NOT NULL,
	[administratorPassword] [nvarchar](40) NOT NULL,
	[administratorPhoto] [nvarchar](128) NULL,
	[administratorGenderId] [int] NOT NULL,
	[administratorFIO] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__Administ__3213E83FF044308D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 03.10.2023 14:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[countryName] [nvarchar](128) NOT NULL,
	[countryNameTranslit] [nvarchar](128) NULL,
	[countryCode] [nvarchar](128) NULL,
	[countryCode2] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Directions]    Script Date: 03.10.2023 14:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[directionName] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_Directions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 03.10.2023 14:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[eventName] [nvarchar](200) NOT NULL,
	[eventDate] [date] NOT NULL,
	[eventDays] [int] NULL,
	[eventWinnerId] [int] NULL,
	[eventCountryId] [int] NOT NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventDirection]    Script Date: 03.10.2023 14:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventDirection](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[eventDirectionName] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_EventDirection] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 03.10.2023 14:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[genderName] [nvarchar](20) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jury]    Script Date: 03.10.2023 14:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jury](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[juryFIO] [nvarchar](128) NOT NULL,
	[juryGenderId] [int] NOT NULL,
	[juryEmail] [nvarchar](80) NOT NULL,
	[juryBirthday] [date] NULL,
	[juryCountryId] [int] NULL,
	[juryPhone] [varchar](20) NOT NULL,
	[juryDirectionId] [int] NOT NULL,
	[juryPassword] [nvarchar](50) NOT NULL,
	[juryPhoto] [nvarchar](50) NULL,
 CONSTRAINT [PK_Jury] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 03.10.2023 14:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[memberFIO] [nvarchar](128) NOT NULL,
	[memberEmail] [nvarchar](80) NOT NULL,
	[memberBirthday] [date] NULL,
	[memberCountryId] [int] NULL,
	[memberPhone] [varchar](50) NOT NULL,
	[memberPhoto] [nvarchar](50) NULL,
	[memberGenderId] [int] NOT NULL,
	[memberPassword] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Moderator]    Script Date: 03.10.2023 14:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Moderator](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[moderatorFIO] [nvarchar](128) NOT NULL,
	[moderatorGenderId] [int] NOT NULL,
	[moderatorEmail] [nvarchar](128) NOT NULL,
	[moderatorBirthday] [date] NULL,
	[moderatorCountryId] [int] NULL,
	[moderatorPhone] [varchar](20) NOT NULL,
	[moderatorDirectionId] [int] NOT NULL,
	[moderatorEventDirectionId] [int] NOT NULL,
	[moderatorPassword] [nvarchar](50) NOT NULL,
	[moderatorPhoto] [nvarchar](50) NULL,
 CONSTRAINT [PK_Moderator] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activity] ON 

INSERT [dbo].[Activity] ([id], [activityEventId], [activityName], [activityDays], [activityTimeStart], [activityModeratorId], [activityJury1Id], [activityJury2Id], [activityJury3Id], [activityJury4Id]) VALUES (1, 3, N'Лидерство в бизнесе', 1, CAST(N'09:00:00' AS Time), 1, 1, NULL, 7, 6)
INSERT [dbo].[Activity] ([id], [activityEventId], [activityName], [activityDays], [activityTimeStart], [activityModeratorId], [activityJury1Id], [activityJury2Id], [activityJury3Id], [activityJury4Id]) VALUES (2, 3, N'Технология принятия решений', 2, CAST(N'10:45:00' AS Time), 2, 2, 3, 8, 7)
INSERT [dbo].[Activity] ([id], [activityEventId], [activityName], [activityDays], [activityTimeStart], [activityModeratorId], [activityJury1Id], [activityJury2Id], [activityJury3Id], [activityJury4Id]) VALUES (3, 3, N'Искусство коучинга', 2, CAST(N'12:30:00' AS Time), 3, 3, 4, NULL, 8)
SET IDENTITY_INSERT [dbo].[Activity] OFF
GO
SET IDENTITY_INSERT [dbo].[Administrator] ON 

INSERT [dbo].[Administrator] ([id], [administratorEmail], [administratorBirthday], [administratorCountryId], [administratorPhone], [administratorPassword], [administratorPhoto], [administratorGenderId], [administratorFIO]) VALUES (1, N'6z92wongmash@tutanota.com', CAST(N'1988-10-16T00:00:00.000' AS DateTime), 51, N'7(354)903-53-67', N'Ke22Yh8Pp7', N'foto1.jpg', 2, N'Васильев Всеволод Давидович')
INSERT [dbo].[Administrator] ([id], [administratorEmail], [administratorBirthday], [administratorCountryId], [administratorPhone], [administratorPassword], [administratorPhoto], [administratorGenderId], [administratorFIO]) VALUES (2, N'jkp23vlzsqei@gmail.com', CAST(N'1980-08-03T00:00:00.000' AS DateTime), 33, N'7(6562)925-01-77', N'Tj78jXeH68', N'foto2.jpg', 2, N'Новиков Фёдор Макарович')
INSERT [dbo].[Administrator] ([id], [administratorEmail], [administratorBirthday], [administratorCountryId], [administratorPhone], [administratorPassword], [administratorPhoto], [administratorGenderId], [administratorFIO]) VALUES (3, N'dncmxp1vqr4t@tutanota.com', CAST(N'1999-07-13T00:00:00.000' AS DateTime), 43, N'7(12)981-33-56', N'DF9a8cJf82', N'foto3.jpg', 1, N'Фролова Владислава Савельевна')
SET IDENTITY_INSERT [dbo].[Administrator] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([id], [countryName], [countryNameTranslit], [countryCode], [countryCode2]) VALUES (1, N'Абхазия', N'Abkhazia', N'AB', 895)
INSERT [dbo].[Country] ([id], [countryName], [countryNameTranslit], [countryCode], [countryCode2]) VALUES (2, N'Австралия', N'Australia', N'AU', 36)
INSERT [dbo].[Country] ([id], [countryName], [countryNameTranslit], [countryCode], [countryCode2]) VALUES (3, N'Австрия', N'Austria', N'AT', 40)
GO
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[Directions] ON 

INSERT [dbo].[Directions] ([id], [directionName]) VALUES (1, N'ИТ')
INSERT [dbo].[Directions] ([id], [directionName]) VALUES (2, N'Биг Дата')
INSERT [dbo].[Directions] ([id], [directionName]) VALUES (3, N'Дизайн')
SET IDENTITY_INSERT [dbo].[Directions] OFF
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([id], [eventName], [eventDate], [eventDays], [eventWinnerId], [eventCountryId]) VALUES (1, N'Всероссийский хакатон neuromedia 2017 по разработке продуктов на стыке информационных технологий, медиа и нейронных сетей ', CAST(N'2022-10-26' AS Date), 1, 1, 34)
INSERT [dbo].[Event] ([id], [eventName], [eventDate], [eventDays], [eventWinnerId], [eventCountryId]) VALUES (2, N'Встреча #3 клуба ITBizRadio на тему:  «уборка» — выкидываем ненужные навыки, инструменты и ограничения» ', CAST(N'2022-07-14' AS Date), 3, NULL, 34)
INSERT [dbo].[Event] ([id], [eventName], [eventDate], [eventDays], [eventWinnerId], [eventCountryId]) VALUES (3, N'Встреча клуба «Leader stories»: Мотивирующее руководство ', CAST(N'2023-11-09' AS Date), 2, NULL, 2)
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
SET IDENTITY_INSERT [dbo].[EventDirection] ON 

INSERT [dbo].[EventDirection] ([id], [eventDirectionName]) VALUES (1, N'IT в бизнесе')
INSERT [dbo].[EventDirection] ([id], [eventDirectionName]) VALUES (2, N'IT в бизнесе')
INSERT [dbo].[EventDirection] ([id], [eventDirectionName]) VALUES (3, N'Разработка приложений')
SET IDENTITY_INSERT [dbo].[EventDirection] OFF
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([genderName], [id]) VALUES (N'женский', 1)
INSERT [dbo].[Gender] ([genderName], [id]) VALUES (N'мужской', 2)
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[Jury] ON 

INSERT [dbo].[Jury] ([id], [juryFIO], [juryGenderId], [juryEmail], [juryBirthday], [juryCountryId], [juryPhone], [juryDirectionId], [juryPassword], [juryPhoto]) VALUES (1, N'Галкина Верона Васильевна', 1, N'obuckridge@sipes.com', CAST(N'1969-05-18' AS Date), 35, N'7(880)544-61-83', 3, N'HHikbP', N'foto21.jpg')
INSERT [dbo].[Jury] ([id], [juryFIO], [juryGenderId], [juryEmail], [juryBirthday], [juryCountryId], [juryPhone], [juryDirectionId], [juryPassword], [juryPhoto]) VALUES (2, N'Герасимова Айлин Ефимовна', 1, N'loraine.aufderhar@johnston.info', CAST(N'1966-06-09' AS Date), 53, N'7(835)478-61-60', 3, N'TuhRzy', N'foto22.jpg')
INSERT [dbo].[Jury] ([id], [juryFIO], [juryGenderId], [juryEmail], [juryBirthday], [juryCountryId], [juryPhone], [juryDirectionId], [juryPassword], [juryPhoto]) VALUES (3, N'Большаков Августин Алексеевич', 2, N'juanita.kuvalis@yahoo.com', CAST(N'1978-07-12' AS Date), 52, N'7(173)770-55-13', 1, N'4Y83lz', N'foto23.jpg')
SET IDENTITY_INSERT [dbo].[Jury] OFF
GO
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([id], [memberFIO], [memberEmail], [memberBirthday], [memberCountryId], [memberPhone], [memberPhoto], [memberGenderId], [memberPassword]) VALUES (1, N'Ершова Нора Федотовна', N'techie@outlook.com', CAST(N'1987-03-26' AS Date), 71, N'89604240711', N'foto60.jpg', 1, N'tKKevv8%')
INSERT [dbo].[Member] ([id], [memberFIO], [memberEmail], [memberBirthday], [memberCountryId], [memberPhone], [memberPhoto], [memberGenderId], [memberPassword]) VALUES (2, N'Афанасьева Жанна Валентиновна', N'agapow@yahoo.com', CAST(N'1988-01-04' AS Date), 34, N'89306616931', N'foto61.jpg', 1, N'huSfHm4$')
INSERT [dbo].[Member] ([id], [memberFIO], [memberEmail], [memberBirthday], [memberCountryId], [memberPhone], [memberPhoto], [memberGenderId], [memberPassword]) VALUES (3, N'Крылова Рая Всеволодовна', N'chaikin@yahoo.ca', CAST(N'1988-04-05' AS Date), 73, N'89572656068', N'foto62.jpg', 1, N'TlUwMw77%')
SET IDENTITY_INSERT [dbo].[Member] OFF
GO
SET IDENTITY_INSERT [dbo].[Moderator] ON 

INSERT [dbo].[Moderator] ([id], [moderatorFIO], [moderatorGenderId], [moderatorEmail], [moderatorBirthday], [moderatorCountryId], [moderatorPhone], [moderatorDirectionId], [moderatorEventDirectionId], [moderatorPassword], [moderatorPhoto]) VALUES (1, N'Царева Виктория Давидовна', 1, N'iunhxq41tgr5@tutanota.com', CAST(N'1988-07-03' AS Date), 33, N'7(567)103-73-32', 1, 1, N'FYi396Dd5u', N'foto9.jpg')
INSERT [dbo].[Moderator] ([id], [moderatorFIO], [moderatorGenderId], [moderatorEmail], [moderatorBirthday], [moderatorCountryId], [moderatorPhone], [moderatorDirectionId], [moderatorEventDirectionId], [moderatorPassword], [moderatorPhoto]) VALUES (2, N'Зорин Дмитрий Маркович', 2, N'ofdt4z1bijq0@tutanota.com', CAST(N'1993-09-07' AS Date), 57, N'7(79)644-01-06', 1, 1, N'7gi7E8K4Ng', N'foto10.jpg')
INSERT [dbo].[Moderator] ([id], [moderatorFIO], [moderatorGenderId], [moderatorEmail], [moderatorBirthday], [moderatorCountryId], [moderatorPhone], [moderatorDirectionId], [moderatorEventDirectionId], [moderatorPassword], [moderatorPhoto]) VALUES (3, N'Зотова Анна Тимуровна', 1, N'ac6yxzg7rl5k@mail.com', CAST(N'1990-09-21' AS Date), 11, N'7(488)643-19-98', 2, 3, N'3L3eA5eEg3', N'foto8.jpg')
SET IDENTITY_INSERT [dbo].[Moderator] OFF
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_Event] FOREIGN KEY([activityEventId])
REFERENCES [dbo].[Event] ([id])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_Event]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_Jury] FOREIGN KEY([activityJury1Id])
REFERENCES [dbo].[Jury] ([id])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_Jury]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_Jury1] FOREIGN KEY([activityJury2Id])
REFERENCES [dbo].[Jury] ([id])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_Jury1]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_Jury2] FOREIGN KEY([activityJury3Id])
REFERENCES [dbo].[Jury] ([id])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_Jury2]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_Jury3] FOREIGN KEY([activityJury4Id])
REFERENCES [dbo].[Jury] ([id])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_Jury3]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_Moderator] FOREIGN KEY([activityModeratorId])
REFERENCES [dbo].[Moderator] ([id])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_Moderator]
GO
ALTER TABLE [dbo].[Administrator]  WITH CHECK ADD  CONSTRAINT [FK_Administrator_Country] FOREIGN KEY([administratorCountryId])
REFERENCES [dbo].[Country] ([id])
GO
ALTER TABLE [dbo].[Administrator] CHECK CONSTRAINT [FK_Administrator_Country]
GO
ALTER TABLE [dbo].[Administrator]  WITH CHECK ADD  CONSTRAINT [FK_Administrator_Gender] FOREIGN KEY([administratorGenderId])
REFERENCES [dbo].[Gender] ([id])
GO
ALTER TABLE [dbo].[Administrator] CHECK CONSTRAINT [FK_Administrator_Gender]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Country] FOREIGN KEY([eventCountryId])
REFERENCES [dbo].[Country] ([id])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Country]
GO
ALTER TABLE [dbo].[Jury]  WITH CHECK ADD  CONSTRAINT [FK_Jury_Country] FOREIGN KEY([juryCountryId])
REFERENCES [dbo].[Country] ([id])
GO
ALTER TABLE [dbo].[Jury] CHECK CONSTRAINT [FK_Jury_Country]
GO
ALTER TABLE [dbo].[Jury]  WITH CHECK ADD  CONSTRAINT [FK_Jury_Directions] FOREIGN KEY([juryDirectionId])
REFERENCES [dbo].[Directions] ([id])
GO
ALTER TABLE [dbo].[Jury] CHECK CONSTRAINT [FK_Jury_Directions]
GO
ALTER TABLE [dbo].[Jury]  WITH CHECK ADD  CONSTRAINT [FK_Jury_Gender] FOREIGN KEY([juryGenderId])
REFERENCES [dbo].[Gender] ([id])
GO
ALTER TABLE [dbo].[Jury] CHECK CONSTRAINT [FK_Jury_Gender]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Country] FOREIGN KEY([memberCountryId])
REFERENCES [dbo].[Country] ([id])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_Country]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Gender] FOREIGN KEY([memberGenderId])
REFERENCES [dbo].[Gender] ([id])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_Gender]
GO
ALTER TABLE [dbo].[Moderator]  WITH CHECK ADD  CONSTRAINT [FK_Moderator_Country] FOREIGN KEY([moderatorCountryId])
REFERENCES [dbo].[Country] ([id])
GO
ALTER TABLE [dbo].[Moderator] CHECK CONSTRAINT [FK_Moderator_Country]
GO
ALTER TABLE [dbo].[Moderator]  WITH CHECK ADD  CONSTRAINT [FK_Moderator_Directions] FOREIGN KEY([moderatorDirectionId])
REFERENCES [dbo].[Directions] ([id])
GO
ALTER TABLE [dbo].[Moderator] CHECK CONSTRAINT [FK_Moderator_Directions]
GO
ALTER TABLE [dbo].[Moderator]  WITH CHECK ADD  CONSTRAINT [FK_Moderator_EventDirection] FOREIGN KEY([moderatorEventDirectionId])
REFERENCES [dbo].[EventDirection] ([id])
GO
ALTER TABLE [dbo].[Moderator] CHECK CONSTRAINT [FK_Moderator_EventDirection]
GO
ALTER TABLE [dbo].[Moderator]  WITH CHECK ADD  CONSTRAINT [FK_Moderator_Gender] FOREIGN KEY([moderatorGenderId])
REFERENCES [dbo].[Gender] ([id])
GO
ALTER TABLE [dbo].[Moderator] CHECK CONSTRAINT [FK_Moderator_Gender]
GO
USE [master]
GO
